---
layout: default
current: forschungsgruppe
class: 'page-template'
navigation: True
---

<header class="site-header outer">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {% if site.logo %}
                    <img class="site-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}"/>
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h1>
            <h2 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h2>
        </div>
        {% include site-nav.html %}
    </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
            <section class="post-full-content">
                <div class="kg-card-markdown">
                    Die Forschungsgruppe SPiRIT – Sciene Projects in Radio and Information Technology 

                    ist eine interdisziplinäre Einrichtung des Instituts für Management und des Instituts für Elektrotechnik der Hochschule Magdeburg-Stendal. Sie wurde im Sommer 2012 von Michael Herzog und Olaf Friedewald als ThinkTank und Projektschmiede gegründet.
                </div>
            </section>
        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include employee-card.html %}
        </div>
    </div>
</main>
