<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-forschungsgruppe" role="menuitem"><a href="{{site.baseurl}}Forschungsgruppe/">Forschungsgruppe</a></li>
    <li class="nav-projekte" role="menuitem"><a href="{{site.baseurl}}projekte/">Projekte</a></li>
    <li class="nav-publikationen" role="menuitem"><a href="{{site.baseurl}}publikationen/">Publikationen</a></li>
    <li class="nav-studium" role="menuitem"><a href="{{site.baseurl}}studium/">Studium</a></li>
    <li class="nav-kontakt" role="menuitem"><a href="{{site.baseurl}}kontakt/">Kontakt</a></li>
</ul>
