<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo_short }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        <nav id="navbar" class="collapse navbar-collapse">
        {% if page.navigation %}
            {% include nav-bar.html %}
        {% endif %}
        </nav>
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            
                <a class="social-link social-link-hs" href="https://www.hs-magdeburg.de/home.html" target="_blank" rel="noopener">{% include hochschule.html %}</a>
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Abonnieren</a>
        {% endif %}
    </div>
</nav>
